/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  margin-top: 60px; /* Adjust margin-top to accommodate the sticky navbar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.navbar {
  background-color: #333333;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
}

section {
  margin-bottom: 60px; /* Adjust margin-bottom to create space below sections */
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.5;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.contact-item i {
  margin-right: 10px;
}

.map-container {
  margin-top: 20px;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
